@import "../../../node_modules/@shoelace-style/shoelace/dist/themes/dark.css";

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 450;
  src: url('../fonts/Mona-Sans.woff2') format('woff2');
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: var(--cgd-color-gamma-050);
  font-family: 'Mona Sans', system-ui, sans-serif;
  line-height: 1.6;
  color: var(--cgd-color-text-medium);
  letter-spacing: 0.02ex;
  font-size: 15px;
}

body {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;

  min-height: 100%;
  margin: 0;
}

a {
  color: var(--cgd-color-primary);
}

a:hover {
  color: var(--cgd-color-primary-tint);
}
