---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
---

<Layout title="About">
  <Content title="About">
    <p>
      <b>CSS data analysis</b> is a small hackathon research project, studying and
      visualizing CSS data from multiple library releases throughout almost 3
      years.
    </p>
  </Content>
</Layout>
