.button {
  --sl-color-neutral-300: var(--cgd-color-gamma-300);
  --sl-color-neutral-700: var(--cgd-color-text-medium);

  --sl-color-primary-50: var(--cgd-color-primary);
  --sl-color-primary-300: var(--cgd-color-primary);
  --sl-color-primary-700: var(--cgd-color-primary-contrast);

  --sl-color-primary-100: var(--cgd-color-primary-shade);
  --sl-color-primary-400: var(--cgd-color-primary-shade);
  --sl-color-primary-700: var(--cgd-color-primary-contrast);
}
