---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<article class="content">
  <section class="section">
    {
      title && (
        <header class="head">
          <h1 class="title">{title}</h1>
        </header>
      )
    }
    <slot />
  </section>
</article>

<style>
  .content {
    padding: var(--cgd-space-100);

    background: var(--cgd-color-gamma-100);
    font-size: var(--cgd-font-size-n);
    border: 1px solid var(--cgd-color-primary-shade);
    border-radius: var(--cgd-radius-regular);
  }

  .head {
    margin-bottom: var(--cgd-space-100);
  }

  .title {
    margin: 0;

    font-size: var(--cgd-font-size-xl);
    font-weight: bold;
  }
</style>
