---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer class={`footer ${className}`}>
  <div class="content">
    CSS analysis @ <a href="https://github.com/XOP" title="XOP Github">XOP</a> 2022
  </div>
</footer>

<style>
  .footer {
    padding: var(--cgd-space-100);
    border-top: 1px solid var(--cgd-color-gamma-150);
  }

  .content {
    text-align: center;
    font-size: var(--cgd-font-size-s);
    color: var(--cgd-color-text-subtle);
  }
</style>
