---
export interface Props {
  class?: string;
  title?: string;
}

const { class: className, title } = Astro.props;
---

<header class={`header ${className}`}>
  <div class="start">
    <div class="menu"></div>
  </div>
  <div class="content">
    <h1 class="title">{title}</h1>
  </div>
  <div class="end">
    <slot />
  </div>
</header>

<style>
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;

    padding: 1rem;

    background: transparent;
  }

  .start,
  .end {
    flex: 0 1 auto;
  }

  .content {
    flex: 1 1 auto;
  }

  .title {
    margin: 0;

    font-size: 1.25rem;
    text-align: center;
  }
</style>
