.controls {
  margin-bottom: var(--cgd-space-100);
}

.layout {
  display: grid;
  gap: var(--cgd-space-100);
  grid-template-columns: 1fr;
}

@media screen and (min-width: 780px) {
  .isGrid {
    grid-template-columns: 1fr 1fr;
  }
}
