/* colors */
:root {
  --cgd-color-light-contrast: #0b0b0b;
  --cgd-color-dark-contrast: #f4f4f4;

  --cgd-color-primary: #c2ea34;
  --cgd-color-primary-rgb: 194, 234, 52;
  --cgd-color-primary-contrast: var(--cgd-color-light-contrast);
  --cgd-color-primary-contrast-rgb: 11, 11, 11;
  --cgd-color-primary-shade: #61751a;
  --cgd-color-primary-tint: #e1f59a;

  --cgd-color-gamma-950: #ffffff;
  --cgd-color-gamma-900: #f2f2f2;
  --cgd-color-gamma-850: #e4e4e4;
  --cgd-color-gamma-800: #d7d7d7;
  --cgd-color-gamma-750: #c9c9c9;
  --cgd-color-gamma-700: #bcbcbc;
  --cgd-color-gamma-650: #aeaeae;
  --cgd-color-gamma-600: #a1a1a1;
  --cgd-color-gamma-550: #949494;
  --cgd-color-gamma-500: #868686;
  --cgd-color-gamma-450: #797979;
  --cgd-color-gamma-400: #6b6b6b;
  --cgd-color-gamma-350: #5e5e5e;
  --cgd-color-gamma-300: #515151;
  --cgd-color-gamma-250: #434343;
  --cgd-color-gamma-200: #363636;
  --cgd-color-gamma-150: #282828;
  --cgd-color-gamma-100: #1b1b1b;
  --cgd-color-gamma-050: #0d0d0d;
  --cgd-color-gamma-000: #000000;
}

/* foundation */
:root {
  --cgd-space-012: 0.125rem;
  --cgd-space-025: 0.25rem;
  --cgd-space-050: 0.5rem;
  --cgd-space-075: 0.75rem;
  --cgd-space-100: 1rem;
  --cgd-space-125: 1.25rem;
  --cgd-space-150: 1.5rem;
  --cgd-space-175: 1.75rem;
  --cgd-space-200: 2rem;

  --cgd-font-size-xs: 0.75rem;
  --cgd-font-size-s: 0.85rem;
  --cgd-font-size-n: 1rem;
  --cgd-font-size-l: 1.125rem;
  --cgd-font-size-xl: 1.275rem;
  --cgd-font-size-xxl: 1.425rem;

  --cgd-icon-size-xs: 0.95rem;
  --cgd-icon-size-s: 1.05rem;
  --cgd-icon-size-n: 1.25rem;
  --cgd-icon-size-l: 1.4rem;
  --cgd-icon-size-xl: 1.6rem;
  --cgd-icon-size-xxl: 1.8rem;

  --cgd-radius-small: 0.25rem;
  --cgd-radius-regular: 0.5rem;
  --cgd-radius-big: 1rem;
  --cgd-radius-round: 50%;

  --cgd-shadow-h: 30;
  --cgd-shadow-s: 5%;
  --cgd-shadow-l: 65%;
}

/* complex */
:root {
  --cgd-side-gap: var(--cgd-space-100);

  --cgd-shadow-color: var(--cgd-shadow-h) var(--cgd-shadow-s)
    var(--cgd-shadow-l);

  --cgd-shadow-small: 0px 1px 2px -0.5px hsla(var(--cgd-shadow-color) / 0.43),
    0px 1px 4px -3px hsla(var(--cgd-shadow-color) / 0.36);
  --cgd-shadow-medium: 0px 1px 2px -1px hsla(var(--cgd-shadow-color) / 0.6),
    0px 4px 5px -3.5px hsla(var(--cgd-shadow-color) / 0.5);
  --cgd-shadow-high: 0px 0.2px 0.2px hsla(var(--cgd-shadow-color) / 0.56),
    0px 1.8px 1.9px -1px hsla(var(--cgd-shadow-color) / 0.51),
    0px 5.8px 6.1px -2px hsla(var(--cgd-shadow-color) / 0.46),
    0px 15.5px 16.3px -3px hsla(var(--cgd-shadow-color) / 0.42);
}
