.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header > h1 {
  margin: 0;

  font-size: var(--cgd-font-size-l);
}

.controls {
  padding: var(--cgd-space-050);
}

.graph {
  margin-top: var(--cgd-space-100);
}
